%p#notice= notice
%p
  %strong Name:
  = @product.name
%p
  %strong Description:
  = @product.description
%p
  %strong Price:
  = @product.price
%p
  %strong Category:
  = @product.category_id

= image_tag @product.prod_img.url(:square)
