#header
  .row.header-cont
    .left
    .center
      %p.logo Complete Striker

      %ul.menu
        %li
          %a{:href => "#"} Home
          
        %li
          = link_to "Shop", :controller => "products", :action => "index"
          
        %li
          %a{:href => "#"} About

        %li
          %a{:href => "#"} Contact
        - if signed_in?
          %li= link_to current_user.email, edit_user_registration_path
          %LI= link_to "Logout", destroy_user_session_path, method: :delete
        - else

          %li= link_to "Register", new_user_registration_path
          %li= link_to "Login", new_user_session_path
    .right

  